<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'index') -%>
<% block('page_css', '/styles/page/index.css') -%>
<% block('page_js', '/scripts/page/index.js') -%>

<h1><%= page%> page!</h1>
<div id="example"></div>